<%ITEM%>
average
average
average(*)|
<%/ITEM%>
<%ITEM%>
criterion
definition
criterion|
<%/ITEM%>
<%ITEM%>
industry
industry equation
industry(*)|
<%/ITEM%>
<%ITEM%>
output
output value of each industry in each state
output(n,m)|
<%/ITEM%>
<%ITEM%>
state
state equation
state(*)|
<%/ITEM%>
